* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:aliceblue;
}

header {
  padding: 50px 15px 0px;
}

header h1{
  color:blueviolet;
  font-size: 48px;
  font-weight: 400;
  text-align:center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section{
  padding: 15px;
}

.searchbox{
  display: blck;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color:cornflowerblue;
  border-radius: 8px;

  color:beige;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.results {
  display : flex;
  flex-wrap: wrap;
  margin: 0px - 15px;
  align-content: space-between;
  justify-content: space-between;

}

.results.result{
  width: 33%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
}

.results .result img {
  display: block;
  width: 90%;
  justify-content: space-between;
}

.results.result h3 {
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: rgb(28, 76, 167);
  flex: 1 1 100%;
  transition: 0.4s ease-out;
  justify-content: space-between;
}