* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:aliceblue;
}

header {
  padding: 50px 15px 0px;
}

header h1{
  color:blueviolet;
  font-size: 48px;
  font-weight: 400;
  text-align:center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section{
  padding: 15px;
}


.searchbox{
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color:cornflowerblue;
  border-radius: 8px;

  color:beige;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}


.results {
  display : grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  grid-auto-rows: minmax(100px,auto);
  align-content: space-between;
  justify-content: space-between;
  color: blue;
  cursor: pointer;
}

.results.result{
  width: 33%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
}

.results .result img {
  display: block;
  width: 90%;
  justify-content: space-between;
}

.results.result h3 {
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: rgb(28, 76, 167);
  flex: 1 1 100%;
  transition: 0.4s ease-out;
  justify-content: space-between;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(191, 209, 236);
  overflow-y: scroll;
}

.popup.information {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;

  color:rgb(234, 191, 236)

}

.popup .information .title {
	margin-bottom: 5px;
  color: rgb(22, 94, 112);
}

.popup .information .year {
	margin-bottom: 5px;
  color: rgb(224, 57, 230);
}
.popup .information .director {
  margin-bottom: 5px;
  color: rgb(89, 57, 230);
}

.popup .information .releasedate {
  margin-bottom: 5px;
  color: rgb(109, 57, 230);
}

.popup .information .genre {
  margin-bottom: 5px;
  color: rgb(146, 57, 230);
}

.popup .information .exit {

	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;

	background: #af44c4;
	color: rgb(33, 126, 83);
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;

	transition: 0.4s ease-out;
}


